<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Réglages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="save()">
    <ion-item>
      <ion-label>Ville</ion-label>
      <ion-input [(ngModel)]="city" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
    </ion-item>
    <ion-button color="tertiary" expand="block" type="submit">Enregistrer</ion-button>
  </form>
  <ion-button color="tertiary" expand="block" (click)="geolocate()">Géolocalise moi</ion-button>
</ion-content>
