<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{ logo }}</a>
    <!-- routerLink 
      app/pizza-single/pizza-single.component.ts-->
      <!-- D'où qu'il sort [routerLink]  ?-->
    <button class="navbar-toggler" type="button" (click)="toggleCollapseNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pizzas" routerLinkActive="active">Pizzas</a>
        </li>
        <li class="nav-item">
            <!-- app.module.ts { path: 'pizza/new', component: PizzaAddComponent } -->
          <a class="nav-link" routerLink="/pizza/new" routerLinkActive="active">Ajouter une pizza</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
